<nav class="navbar fixed-bottom navbar-light py-3" style="background-color: #3e9cdf;">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">
		<img src="https://cdn0.iconfinder.com/data/icons/game-ui-casual-chunky/533/IconsByAndreaFryer_GameUI_Chunky_AddFriend-512.png" alt="" width="75" height="75" class="rounded mx-auto d-block align-text-bottom">
		<h1>Friends</h1>
	  </a>
	  <a class="navbar-brand" href="#">
		<img src="https://image.flaticon.com/icons/png/512/1732/1732452.png" alt="" width="75" height="75" class="rounded mx-auto d-block align-text-bottom">
		<h1>Battle</h1>
	  </a>
	  <a class="navbar-brand" href="#">
		<img src="https://img.icons8.com/bubbles/2x/chat.png" alt="" width="75" height="75" class="rounded mx-auto d-block align-text-bottom">
		<h1>Chat</h1>
	  </a>
	</div>
</nav>
